body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #232323;
}

nav li:last-child a {
  background: #FE5F1E;
}

nav li:last-child a:hover {
  background: #f06cc4;
}

nav li a {
  transition: all 0.3s ease-in-out;
}

nav li a:hover {
  color: #FE5F1E;
}

section.hero {
  background: #a39d9a;
}

.size {
  background: #a39d9a;
}

.add-to-cart {
  border: 2px solid #FE5F1E;
  color: #FE5F1E;
  transform: all 0.3s ease-in-out;
}

.add-to-cart:hover {
  background: #FE5F1E;
  border-color: #fff;
  color: #fff;
}

.order-btn {
  background: #FE5F1E;
  transition: all 0.3s ease-in-out;
}

.order-btn:hover {
  background: #f06cc4;
}

section.cart {
  background: #a39d9a;
}

section.cart .amount {
  color: #FE5F1E;
}

section.login {
  background: #a39d9a;
}

